<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Freight Calculator</h1>

    <nav class = 'navBar'>
        <ul>
            <li><a href="calculation">Rate Calculation</a></li>
            <li><a href="addrate">Add Rate</a></li>
            <li><a href="">Managing Rates</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>

    
</body>
</html>