<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Freight Calculator</h1>

    <nav class = 'navBar'>
        <ul>
            <li><a href="calculation">Rate Calculation</a></li>
            <li><a href="addrate">Add Rate</a></li>
            <li><a href="">Managing Rates</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </nav>

    <table>
        <tr>
            <th>Carrier</th>
            <th>POL</th>
            <th>POD</th>
            <th>Minimum Rate</th>
            <th>Unit Rate</th>
            <th>Valid Date</th>
        </tr>

            {% for id, carrier, loading_port, discharging_port, freight_rate_min, freight_rate_unit, valid_date in freight_items %}
                <tr>
                    <td>{{carrier}}</td>
                    <td>{{loading_port}}</td>
                    <td>{{discharging_port}}</td>
                    <td>{{freight_rate_min}}</td>
                    <td>{{freight_rate_unit}}</td>
                    <td>{{valid_date}}</td>
                    <td><button><a href="{{url_for('delete', id = id)}}">Delete</a></button></td>
                </tr>
            {% endfor %}
    </table>

    

    
</body>
</html>